.header_text {
  max-width: 100%;
  height: fit-content;
  background-color: #fef6dd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 10px;
  gap: 5px;
}
.header_text button {
  background-color: #ffe96e;
  padding: 6px 35px;
  font-weight: 600;
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
}
.header_text p {
  text-align: center;
  font-size: 0.9rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  /* background-color: #FFE96E; */
}
.navbar img {
  width: 100px;
}
.menu-btn {
  /* display: none; */
}
.menu-btn-logo {
  font-size: 2.5rem;
  color: #25e271;
}
.menuWeb {
  display: none;
}
.menuMobile {
  display: none;
  background-color: rgb(247, 247, 247);
  padding: 10px 0;
  position: absolute;
  top: 140px;
  left: 0;
  width: 100%;
  z-index: 9;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.menuMobile.showMenu {
  display: block;
}

.menuMobile ul {
  padding-left: 18px;
}
.menuMobile ul li {
  font-size: 16px;
  width: 100%;
  margin: 15px 0;
  display: flex;

  font-weight: 600;
}
.menuMobile ul li ul {
  /* background-color: #FFE96E; */
  border: none;

  top: 70px;
  left: 0;
  /* display: none; */
  width: 100%;
}
.subMenu-box li {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.subMenu-box li ul li {
  display: block;
  text-align: left;
  margin: 18px;
}
.menuSubMobile {
  display: none;
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
  /* position: absolute; */
  top: 140px;
  left: 0;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.menuSubMobile.showSubMenu {
  display: block;
}

.menuSubWeb {
  display: none;
}
.dropMenu-btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.dropMenu-btn button {
  width: 180px;
  height: 42px;
}
.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.home-box-1 {
  /* background-color: red; */
  width: 100%;
  height: 250px;

  /* padding: 25px; */
}
.image-box {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url("C:\Users\Ashish\Desktop\React_js\Wati-clone\public\images\wati-dashboard-new.webp");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.home-box-1 img {
  /* background-color: aqua; */
  width: 130px;
  position: absolute;

  right: 35px;
  bottom: 0;
  object-fit: contain;
}
.home-box-2 {
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 15px;
}

.book-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-decoration: none;
}
.no-card {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
}

/* -----------------------------------------media query----------------------------- */

@media (min-width: 768px) {
  .header_text {
    flex-direction: row;
    gap: 15px;
  }
  .header_text button {
    font-size: 0.9rem;
    padding: 6px 22px;
    font-weight: 600;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 12px;
    padding: 15px 35px;
  }
  .menuMobile {
    padding: 0 25px;
  }
  .home-box-1 img {
    max-width: 520px;
    margin-top: 30px;
    height: 460px;
  }
  .btn-bookdemo {
    display: flex;
    gap: 15px;
  }
  .dropMenu-btn {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 250px;
  }

  .home-container {
    /* background-color: aqua; */

    gap: 40px;

    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
  }

  .home-box-2 {
    /* background-color: #fcc4b4; */
    width: 100%;
    height: 400px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 15px;
    z-index: 1;
  }
  .home-box-2 h1 {
    width: 100%;
    font-size: 2.5rem;
    line-height: 4.4rem;
  }
  .home-box-2 p {
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 12px;
  }
  .home-box-2 a {
    font-size: 14px;
    font-weight: 600;
  }

  .home-box-1 {
    /* background-color: #25E271; */
    width: 100%;
    height: 340px;
    background-size: 100% 100%;
    text-align: center;
  }
  .image-box {
    /* text-align: center;
        height: 460px;
        width: 520px; */
  }
  .home-box-1 img {
    width: 280px;
    height: fit-content;
    position: absolute;
    bottom: -130px;
    right: 95px;
  }
}

@media (min-width: 992px) {
  .navbar {
    /* background-color: aqua; */
    padding: 8px 0 0 0;
    position: sticky;
    z-index: 8;
  }
  .menu-btn {
    display: none;
  }
  .subMenu-box span {
    display: none;
  }
  .menuMobile {
    display: flex;
    flex-direction: row;
    position: unset;
    box-shadow: unset;
    background-color: unset;
    text-align: end;
    width: unset;
    padding: 0;
  }
  .menuMobile ul li ul {
    /* background-color: #FFE96E; */
    border: none;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    position: absolute;
    top: 51px;
  }

  .nav-parent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-parent img {
    width: 130px;
  }
  .menuMobile > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    font-size: 1rem;
    font-weight: 800;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* --------------------text hover -------------- */
  .menuMobile ul li a:hover {
    color: #25e271;

    /* transition: all 0.5s  ; */
  }

  .menuMobile ul li {
    color: #25e271;
    width: unset;
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    margin-right: 10px;
  }

  .subMenu-box {
    position: relative;
  }
  .subMenu-box li {
    display: flex;
    align-items: center;
    justify-content: center;

    /* flex-direction: row; */
    /* justify-content: left; */
  }
  .dropdown li:hover .menuSubMobile {
    color: #25e271;
    display: block;
    width: 200px;
  }
  /* .menuSubMobile.showSubMenu {
        display: block;
        z-index: 9; 
    } */
  .home-container {
    /* background-color: aqua; */
    height: 600px;
    display: flex;
    align-items: start;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    position: relative;
  }

  .home-box-2 {
    /* background-color: #fcc4b4; */
    width: 100%;
    height: 400px;
    text-align: left;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding: 0px 15px;
    z-index: 1;
  }
  .home-box-2 h1 {
    width: 90%;
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
  .home-box-2 p {
    width: 70%;
    font-size: 1.2rem;
    margin-bottom: 12px;
  }
  .home-box-2 a {
    font-size: 14px;
    font-weight: 600;
  }

  .home-box-1 {
    /* background-color: #25E271; */
    width: 100%;
    height: 350px;
    background-size: 100% 100%;
  }

  .home-box-1 img {
    width: 280px;
    height: fit-content;
    position: absolute;
    bottom: -120px;
    right: -10px;
  }

  /* .subMenu-box:hover .menuMobile{display: block;} */
  /* .dropdown:hover .dropdown-content {display: block;} */
}
