* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif !important;
}
body,
html {
  max-width: 100%;
  margin: 0;
  line-height: 1.42857143;
  font-size: 14px;
  background-color: #fff;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}

h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
} */

a,
li {
  list-style: none;
  text-decoration: none;
  color: black;
}
img {
  border: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
button {
  border: none;
}

.main-button {
  position: relative;

  width: 242px;
  height: 40px;
  background-color: #25e271;
  border-radius: 10px;

  font-weight: 500;
}
.white-btn::before {
  top: 0;
  left: 0;
}
.main-button::before {
  content: "";
  background: #0000;
  width: 100%;
  height: 90%;
  position: absolute;
  top: -10px;
  bottom: 0;
  left: -8px;
  right: 0;
  margin: auto;
  border-radius: 10px;
  z-index: 0;
  border: 3px solid;
}
.main-button{

}
.blue-btn {
  background-color: #4FC3FF;
}
.white-btn {
  background-color: #ffffff;
}

.demo-btn{
  background-color: #ffffff;
  width: 90px;
  height: 40px;
  border-radius: 10px;



}


.main-button:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: -3px;
  transition: ease-in-out .3s;
  border-radius: 13px;
}

