*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
font-family: Outfit, sans-serif !important;
}
body,html{

  max-width:100% ;
  margin: 0;
  line-height: 1.42857143;
  font-size: 14px;
  background-color: #fff;
 
}


/* h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}

h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
} */

a,li{
  list-style: none;
  text-decoration: none;
  color: black;
}
img {
  border: 0;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

.main-button{

  width: 242px;
  height: 35px;
  background-color: #25E271;
  border-radius: 10px;
  border: 3px solid black;
  font-weight: 500;
  
  
}
.main-button:hover{
 
  border: 3px solid black;
 
  border-radius: 10px;
  cursor: pointer;
  
 
 
}
